@import '../../mixins/breakpoints';

.catalog-container {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-between;
  margin-top: 35px;

  @include tabletScreen {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
  }

  @include mobileScreen {
    grid-template-columns: 1fr;
    margin: 35px 10px auto 10px;
  }
}

.catalog-item {
}

