button {
  border-radius: 20px;
  height: 37px;
  width: 200px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;



  //&[data-theme="dark"] {
  //  background-color: cadetblue;
  //}
  //
  //&[data-theme="light"] {
  //  background-color: #CCCCCC;
  //}
}
